<% provide(:title, 'About') %>

<h1>About The App</h1>
<p>This is a Twitter-clone web application developed using Ruby on Rails.</p>
<p>You can create your account, connect with other users by following them, let others follow you, create microposts (tweets) about anything and everything and know what the people you are following are up to through their posts in your feed.</p>
<p>Big thanks to Mr. Michael Hartl for making the tutorial that I followed to create this application from scratch.
</p>
