<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
	You can contact me via email at vishalchauthmal@gmail.com or connect with me on <a href="http://in.linkedin.com/pub/vishal-chauthmal/32/843/50" target="_blank">LinkedIn</a> if you wish to.
</p>