<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
	If you need any help or have any comments or suggestions about the application, you can get in touch with me. The contact details are available on the <%= link_to "Contact", contact_path %> page.
</p>
